<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {{{display messages}}}
            <form action="register" method="POST">
                <div class="form-group">
                    <label for="">Username</label>
                    <input name="username" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Password</label>
                    <input name="password" type="password" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Confirm Password</label>
                    <input name="repassword" type="password" class="form-control">
                </div>

                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>
</div>