<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="my-0 mr-md-auto" href="/">
        <h5 class="my-0 mr-md-auto font-weight-normal">Company</h5>
    </a>

    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/post">Viết bài</a>
        <a class="p-2 text-dark" href="/video">Video List</a>
        <a class="p-2 text-dark" href="/video/post">Video Post</a>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>
                {{video.title}}
            </h2>

            <video width="100%"autoplay controls>
                <source src="/video/data/{{video._id}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>