<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="my-0 mr-md-auto" href="/">
        <h5 class="my-0 mr-md-auto font-weight-normal">Company</h5>
    </a>

    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/post">Viết bài</a>
        <a class="p-2 text-dark" href="/video">Video List</a>
        <a class="p-2 text-dark" href="/video/post">Video Post</a>
    </nav>
</div>

<div class="container">

    {{{display messages}}}

    <form action='/video/post' method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label for="">Title</label>
            <input name="title" class="form-control" type="text">
        </div>

        <label for="">Thumb Image</label>
        <div class="custom-file">
            <input name="video" class="custom-file-input" id="customFile" type="file">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

    </form>

</div>